@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
p {
  color: red;
}
table,
th,
td {
  border: 1px solid black;
}
tr:nth-child(odd) {
  background-color: aqua;
}
td:nth-child(even) {
  background-color: red;
}
